@import "./index.core.scss";

.modal {
  &__content {
    width: 500px;
    background-color: rgba(black, 0.3);
  }
}

.modal-2 {
  .modal__content {
    width: 550px;
    background-color: rgba(purple, 0.3);
  }
}
.modal-3 {
  .modal__content {
    width: 400px;
    background-color: rgba(blue, 0.3);
  }
}
.modal-4 {
  .modal__content {
    width: 350px;
    background-color: rgba(green, 0.3);
  }
}
.modal-5 {
  .modal__content {
    width: 200px;
    background-color: rgba(red, 0.3);
  }
}